@font-face {
  font-family: "Vazir";
  src: url("../public/fonts/Vazir-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Tailwind import */
@import "tailwindcss";

/* Theme and font variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Vazir", sans-serif;
  --font-mono: "Geist Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global reset and font usage */
* {
  scroll-behavior: smooth;
  font-family: var(--font-sans);
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}
